- if partner.cta_banner != nil
  / For each article in the CTA banner
  - partner.cta_banner.each do |article|
    .callout.gitlab-trial.slp-pt-32
      %img.slp-pt-32.slp-m-auto{src: "/images/pricing/particles-contact.svg"} 
      %h3.slp-text-xl.slp-font-normal.md
        =  article.title
      %a.slp-btn{ href: "#{article.button_url}", :"data-ga-name" => "#{article.button_text}", :"data-ga-location" => "body" }
        = article.button_text  
