---
layout: markdown_page
title: "GitLab Certifications"
description: "Build your GitLab knowledge by proving your skills with a GitLab Certification. Learn more!"
canonical_path: "/learn/certifications"
---

## Currently available certifications

All GitLab certifications can be found below. This list includes some certifications that are only available to GitLab Team Members.

Our **[publicly available certifications](/learn/certifications/public)** page includes certifications available to the wider community, and has additional information about what is a GitLab certification. 

| Use Case | Certification | Confidentiality |
| --- | --- | --- |
<% data.learn.learn.select{|course| course.assessment == "Certification" && course.live_date && Date.parse(course.live_date) <= Date.today}.each do |course| %>
<%= "| #{course.use_case} | [#{course.name}](#{course.url}) | #{course.confidentiality} |" %>
<% end %>

You can also browse these and other GitLab-produced learning resources at [GitLab Learn](https://about.gitlab.com/learn/).
