.cmp-choice-cards.container.slp-container.u-padding-top-md
  .row.text-center
    = partial "/images/pricing/particles-contact.svg"
    %h1 #{current_page.data.choice_cards_title}
    = partial "/images/icons/slp-separator-vertical.svg"
  .row.choice-cards
    .col-md-4.choice-card.text-center
      .choice-wrapper
        .choice-icon
          = partial "/images/icons/localization-community.svg"
        .font-size-xl #{current_page.data.choice_1_title}
        %p #{current_page.data.choice_1_body}
        %a{class: "btn cta-btn orange-light", href: current_page.data.choice_1_href} #{current_page.data.choice_1_btn_copy}
        - unless current_page.data.language_disclaimer == ""
          .row.text-center.u-margin-top-xs
            %em
              * #{current_page.data.language_disclaimer}
    .col-md-4.choice-card.text-center
      .choice-wrapper
        .choice-icon
          = partial "/images/icons/localization-video.svg"
        .font-size-xl #{current_page.data.choice_2_title}
        %p #{current_page.data.choice_2_body}
        %a{class: "btn cta-btn lavender", href: current_page.data.choice_2_href} #{current_page.data.choice_2_btn_copy}
        - unless current_page.data.language_disclaimer == ""
          .row.text-center.u-margin-top-xs
            %em
              * #{current_page.data.language_disclaimer}
    .col-md-4.choice-card.text-center
      .choice-wrapper
        .choice-icon
          = partial "/images/icons/localization-person.svg"
        .font-size-xl #{current_page.data.choice_3_title}
        %p #{current_page.data.choice_3_body}
        %a{class: "btn cta-btn btn-light", href: current_page.data.choice_3_href} #{current_page.data.choice_3_btn_copy}